@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    
}
<a asp-controller="Role" asp-action="Create" class="btn btn-primary">Create New Role</a>
<br />

<div class="m-2">
    <form asp-action="Index" class="row  offset-2">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchInp" placeholder="Search By Email" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>

</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(E=>E.Id)</th>
                <th>@Html.DisplayNameFor(E=>E.RoleName)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>

                    <td>@user.Id</td>
                    <td>@user.RoleName</td>
                    <partial name="_ButtonsPartial" model="user.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There IS No Role :(</h3>
    </div>
}
